@import '../../scss/variables';
@import '../../scss/mixins';

.appbar {
  grid-area: appbar;
  background-color: $color-black-5;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.072) 0%, rgba(255, 255, 255, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .appmenu-link {
    display: flex;
    align-items: center;
    height: $appmenu-item-height;
    padding: 0 16px;
    text-decoration: none;
    @include text-normal-medium-primary;

    .icon {
      margin-right: 12px;
    }

    &.selected {
      cursor: default;
      background-color: $appmenu-item-selected-bg-color;
    }

    &:not(.selected) {
      @include button-text-primary;
    }
  }
}
