@import '../../scss/variables';

.page {
  height: 100vh;
  display: grid;
  grid-template-columns: 48px 224px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'navbar appbar content';

  .content {
    background-color: $color-white;
    height: 100vh;
    overflow: auto;
  }
}
