@import '../../scss/variables';
@import '../../scss/mixins';

.upload-button {
  $_: '.upload-button';
  .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    & + .label {
      display: inline-block;
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      margin-bottom: 16px;
      @include text-normal-medium-primary;
      @include input-border-color;
      @include button-text-primary;
      cursor: pointer;
    }

    &:focus + .label,
    & + .label:hover {
      @include button-text-primary;
    }
  }
}
