@import '../../scss/_mixins.scss';

.button {
  $_: '.button';
  outline: none;
  border: none;
  @include text-medium-medium-primary;
  @include color-active($button-color-gray, 5%);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  background-color: $color-white;

  &-primary {
    @include primary-color-active;
  }

  &.disabled {
    opacity: 0.8;
    color: $button-color-disabled;
    cursor: not-allowed;
  }
}
