@import '../../../../scss/mixins';

.main {
  @include main-content-wrapper;

  .main-title {
    @include text-big-regular-black;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    line-height: 24px;
  }

  .main-title-icon {
    @include primary-color-active;
    cursor: pointer;
    margin-left: 12px;
  }
}
