@import '../../scss/variables';
@import '../../scss/mixins';

.appbar-header {
  height: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    @include text-medium-bold;
    text-transform: uppercase;
    margin-bottom: 2px;
  }

  .subtitle {
    @include text-small-normal;
    text-transform: uppercase;
  }
}
