@import '../../../../scss/mixins';

.section {
  $_: '.section';
  padding-bottom: 32px;
  border-bottom: $border;

  #{$_}-title {
    @include text-medium-light;
    display: flex;
    align-items: center;
    line-height: 20px;
    margin-bottom: 20px;
  }

  #{$_}-photos {
    display: flex;
    flex-wrap: wrap;
  }

  .photo {
    position: relative;
    margin-right: 24px;
    margin-bottom: 20px;

    &-image {
      width: 160px;
      height: 160px;
      object-fit: cover;
      margin-bottom: 8px;
    }

    &-title {
      @include text-small-normal;
      margin-bottom: 4px;
    }

    &-date {
      @include text-small-normal-gray;
      margin-bottom: 4px;
    }

    .icon-close {
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
      @include color-active($color-red, 5%);
    }
  }
}
