@import '../../scss/variables';
@import '../../scss/mixins';

.select {
  $_: '.select';
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid $input-border-color;
  @include input-border-color;
  border-radius: 2px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;

  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    right: 12px;
    border-bottom: 2px solid $color-primary;
    border-left: 2px solid $color-primary;
    transform: rotate(-45deg);
    transition: all ease-in-out 0.1s;
  }

  &.is-open {
    &::after {
      transform: rotate(135deg);
      top: 17px;
      transition: all ease-in-out 0.1s;
    }
  }

  #{$_}-input {
    @include text-normal-regular;
  }

  #{$_}-label {
    position: absolute;
    top: -6px;
    left: 10px;
    @include text-tiny-normal-gray;
    text-transform: uppercase;
    padding: 0 4px;
    background-color: $color-white;
  }

  &-dropbox {
    position: absolute;
    top: 40px;
    left: 0;
    width: 400px;
    box-sizing: border-box;
    border: 1px solid $input-border-color;
    background-color: $color-white;
    z-index: 100;

    .list {
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

      .list-item {
        @include text-normal-regular;
        padding: 10px 12px;
        cursor: pointer;

        &:not(:last-child) {
          border-bottom: 1px solid $input-border-color;
        }

        &:hover {
          background-color: $color-black-5;
        }

        &.is-empty {
          cursor: not-allowed;
          color: $color-text-gray;
          font-style: italic;

          &:hover {
            background-color: $color-white;
          }
        }
      }
    }
  }
}
