@import '../../scss/variables';
@import '../../scss/mixins';

.daypicker {
  $_: '.daypicker';
  width: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .field.small {
    width: 194px;
  }

  .field-input {
    width: 100%;
  }

  .react-datepicker-wrapper {
    width: 194px;
    height: 40px;
    @include text-normal-regular;
    border: 1px solid;
    @include input-border-color;
    box-sizing: border-box;
    border-radius: 2px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    align-items: center;

    input {
      border: none;
      width: 100%;

      &:focus {
        border: none;
        outline: none;
        background-color: $color-white;
      }
    }
  }

  .react-datepicker {
    &__day {
      outline: none;

      &:focus,
      &:hover {
        outline: none;
      }
    }

    &__header,
    &__day--selected,
    &__day--keyboard-selected {
      background-color: $color-primary;

      &:hover {
        background-color: $color-primary;
      }
    }

    &__navigation--next {
      border-left-color: $color-white;
    }

    &__navigation--previous {
      border-right-color: $color-white;
    }

    &__current-month,
    &__day-name {
      color: $color-white;
    }

    &-popper[data-placement^='bottom'] .react-datepicker__triangle {
      border-bottom-color: $color-primary;
    }

    &__today-button {
      background-color: $color-white;
      @include button-text-primary;
      margin: 2px;
      border-top: none;
    }
  }
}
