@import '../../scss/variables';
@import '../../scss/_mixins.scss';

.card {
  $_: '.card';
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: $border;

  #{$_}-item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  #{$_}-title {
    @include text-medium-light;
    display: flex;
    align-items: center;
    line-height: 20px;
    margin-bottom: 20px;
  }

  #{$_}-label {
    @include text-normal-ligth;
    width: 150px;
  }

  #{$_}-value {
    @include text-normal-regular;
  }

  #{$_}-icon {
    @include primary-color-active;
    cursor: pointer;
    margin-left: 12px;
  }

  .field {
    width: 400px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .email {
    text-decoration: none;
    @include primary-color-active;
  }
}
