@import '../../scss/variables';
@import '../../scss/mixins';

.modal {
  $_: '.modal';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $modal-background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;

  #{$_}-content {
    width: 320px;
    min-height: 198px;
    background-color: $color-white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.15);
  }

  #{$_}-header {
    @include text-big-regular-black;
    margin-bottom: 16px;
  }

  #{$_}-body {
    @include text-normal-regular;
    display: flex;
    flex-direction: column;

    .message {
      margin-bottom: 16px;
    }

    .icon-button {
      max-width: 100%;
    }
  }

  #{$_}-footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
