@import '../../../scss/_variables.scss';
@import '../../../scss/_mixins.scss';

.auth-page {
  $_: '.auth-page';
  width: 100vw;
  height: 100vh;
  background-color: $color-black-5;
  display: flex;
  align-items: center;
  justify-content: center;

  #{$_}-wrapper {
    width: 400px;
    box-sizing: border-box;
    background-color: $color-white;
    padding: 20px 40px;
    box-shadow: $box-shadow;
  }

  h1 {
    @include text-big-regular-black;
    margin-bottom: 32px;
  }

  .field {
    margin-bottom: 32px;
    &-input {
      max-width: 100%;
    }
  }

  .action {
    text-align: right;
  }
}
