@import '../../scss/variables';
@import '../../scss/mixins';

.field {
  $_: '.field';
  position: relative;

  #{$_}-input {
    @include text-normal-regular;
    border: 1px solid;
    @include input-border-color;
    width: 400px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 2px;
    padding-left: 12px;
    padding-right: 12px;
  }

  #{$_}-label {
    position: absolute;
    top: -6px;
    left: 10px;
    @include text-tiny-normal-gray;
    text-transform: uppercase;
    padding: 0 4px;
    background-color: $color-white;
  }
}
