@import '../../scss/variables';
@import '../../scss/mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  padding: 0 40px;
  border-bottom: $header-border;

  h1 {
    &,
    a {
      @include text-medium-medium-primary;
      line-height: 1.2;
      text-transform: uppercase;
      margin: 0;
    }

    a {
      @include button-text-primary;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 16px;
      }
    }
  }

  .icons-wrap {
    display: flex;
    .icon {
      margin-left: 25px;
      cursor: pointer;

      &-delete {
        @include color-active($color-red, 5%);
      }
      &-reload,
      &-linked {
        @include color-active($color-primary, 5%);
      }
    }
  }
}
