@import '../../scss/variables';
@import '../../scss/_mixins.scss';

.multi-checkbox {
  $_: '.multi-checkbox';
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  box-sizing: border-box;
  border: 1px solid $input-border-color;
  @include input-border-color;
  border-radius: 2px;
  padding: 10px 12px;

  #{$_}-label {
    position: absolute;
    top: -6px;
    left: 10px;
    @include text-tiny-normal-gray;
    text-transform: uppercase;
    padding: 0 4px;
    background-color: $color-white;
  }
}
