@import '../../scss/variables';
@import '../../scss/_mixins.scss';

.checkbox {
  $_: '.checkbox';
  position: relative;

  box-sizing: border-box;

  padding: 6px 0;

  #{$_}-input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + label {
      @include text-normal-regular;
      position: relative;
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
    }

    & + label::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      border: $border;
      border-radius: 2px;
      margin-right: 12px;
    }

    &:checked + label::before {
      border-color: $color-primary;
    }

    &:checked + label::after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 2px;
      position: absolute;
      left: 5px;
      top: 5px;
      background-color: $color-primary;
    }

    &:not(:disabled) + label:hover::before {
      border-color: $button-border-color-focus;
    }

    &:disabled + label::before {
      opacity: 0.5;
    }
  }
}
