@import '../../scss/variables';
@import '../../scss/mixins';

.footer {
  padding: 32px 0 60px;
  margin-top: auto;
  height: 140px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  // border-top: $border;

  .copyright,
  .contacts {
    @include text-small-normal;
    color: $footer-color;
  }
}
