@import '../../scss/variables';

.navmenu-link {
  $_: '.navmenu-link';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 60px;

  &:hover,
  &.selected {
    background-color: $color-primary-hover;
  }

  #{$_}-icon {
    width: 20px;
    height: 20px;
  }
}
