@import '../../scss/_mixins.scss';

.icon-button {
  $_: '.button';
  border: 1px solid;
  border-radius: 2px;
  @include button-text-primary;
  @include text-normal-medium-primary;
  position: relative;
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  cursor: pointer;
  background-color: $color-white;

  svg {
    position: absolute;
    top: 11px;
    left: 11px;
  }
}
