@import './variables';

// text- FONT-SIZE! - FONT-WEIGHT! - FONT-COLOR?
@mixin text-big-regular-black {
  font-family: $font-family;
  font-style: normal;
  font-size: $font-big;
  font-weight: $font-weight-regular;
  line-height: 24px;
  color: $color-black-90;
}

@mixin text-medium-regular {
  font-family: $font-family;
  font-style: normal;
  font-size: $font-medium;
  font-weight: $font-weight-regular;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: $color-text;
}

@mixin text-medium-light {
  @include text-medium-regular;
  font-weight: $font-weight-light;
}

@mixin text-medium-bold {
  @include text-medium-regular;
  font-weight: $font-weight-bold;
}

@mixin text-medium-medium-primary {
  font-family: $font-family;
  font-style: normal;
  font-size: $font-medium;
  font-weight: $font-weight-medium;
  line-height: 20px;
  color: $color-primary;
}

@mixin text-normal-regular {
  font-family: $font-family;
  font-style: normal;
  font-size: $font-normal;
  font-weight: $font-weight-regular;
  line-height: 20px;
  color: $color-text;
}

@mixin text-normal-medium-primary {
  font-family: $font-family;
  font-style: normal;
  font-size: $font-normal;
  font-weight: $font-weight-medium;
  line-height: 20px;
  color: $color-primary;
}

@mixin text-normal-regular-gray {
  @include text-normal-regular;
  color: $color-text-gray;
}

@mixin text-normal-ligth {
  @include text-normal-regular;
  font-weight: $font-weight-light;
}

@mixin text-small-normal {
  font-family: $font-family;
  font-style: normal;
  font-size: $font-small;
  font-weight: $font-weight-normal;
  line-height: 160%;
  letter-spacing: 0.2px;
  color: $color-text;
}

@mixin text-small-normal-gray {
  @include text-small-normal;
  color: $color-text-gray;
}

@mixin text-tiny-regular {
  font-family: $font-family;
  font-style: normal;
  font-size: $font-tiny;
  font-weight: $font-weight-regular;
  line-height: 12px;
  color: $color-text;
}

@mixin text-tiny-normal-gray {
  @include text-tiny-regular;
  color: $color-text-gray;
}

@mixin primary-color-active {
  color: $color-primary;

  &:hover {
    color: $color-primary-text-hover;
  }

  &:focus {
    color: $color-primary-text-focus;
  }
}

@mixin button-text-primary {
  @include primary-color-active;
  text-decoration: none;
  border-color: $button-border-color;

  &:hover {
    border-color: $button-border-color-hover;
  }

  &:focus {
    border-color: $button-border-color-focus;
  }
}

@mixin color-active($color, $amount: 20%) {
  color: $color;

  &:hover {
    color: lighten($color, $amount);
  }

  &:focus,
  &:active,
  &:focus-visible,
  &:focus-within {
    color: darken($color, $amount);
  }
}

@mixin main-list-link($color: $color-black-90) {
  @include text-big-regular-black;
  color: $color;
  text-decoration: none;
  display: block;
  width: 100%;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: $main-list-item-border;
  @include color-active($color: $color);
}

@mixin main-content-wrapper {
  padding: 24px 40px;
}

@mixin input-border-color {
  outline: none;
  border: 1px solid $input-border-color;

  &:hover {
    border-color: $input-border-color-hover;
  }

  &:focus,
  &:active,
  &:focus-visible,
  &:focus-within {
    border-color: $input-border-color-focus;
    border-width: 1px;
  }
}
