$font-family: 'Roboto', sans-serif;
$font-tiny: 10px;
$font-small: 12px;
$font-normal: 14px;
$font-medium: 16px;
$font-big: 20px;

$font-weight-light: 300;
$font-weight-normal: normal;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$color-black: #000000;
$color-black-5: #f7f7f7;
$color-black-90: #222222;
$color-white: #ffffff;

$color-primary: #82b284;
$color-primary-hover: #a4c7a5;
$color-primary-text-hover: #98c88c;
$color-primary-text-focus: #58a742;

$color-red: #d95151;

$color-text: #3b3b3b;
$color-text-gray: #808080;

$border: 1px solid #e5e5e5;

$modal-background-color: rgba($color-black, 0.5);

$appmenu-item-height: 44px;
$appmenu-item-selected-color: $color-primary;
$appmenu-item-selected-bg-color: #eeeeee;

$header-height: 72px;
$header-border: $border;
$header-color-hover: $color-primary-text-hover;

$main-list-item-border: $border;

$button-color-gray: #b9b9b9;
$button-color-disabled: #dadada;
$button-border-color: #cdcdcd;
$button-border-color-hover: #e5e5e5;
$button-border-color-focus: #cdcdcd;

$input-border-color: #cdcdcd;
$input-border-color-hover: #808080;
$input-border-color-focus: #3b3b3b;

$box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);

$footer-color: #b9b9b9;
