@import '../../scss/variables';
@import '../../scss/_mixins.scss';

.phone {
  $_: '.phone';

  #{$_}-input {
    background-color: $color-white;
    @include text-normal-regular;
    @include input-border-color;
    border-radius: 2px;
    padding-left: 12px;
    padding-right: 12px;
    width: 400px;
    box-sizing: border-box;
    height: 40px;

    &.invalid {
      border-color: $color-red;
    }
  }
}
